*, *:after, *:before { box-sizing: border-box; }

body {
  background-color: #EAEAEA;
  font-family: "arial", sans-serif;
  font-size: 10px;
  text-align: center;
}

  h1 {
    color: #000000;
    font-size: 2em;
    font-stretch: expanded;
  }

.container {
    padding: 25px 25px 25px 25px;
}

.preview {
  width: 100%;
  min-height: 300px;
  margin: 1% 0;
  padding: 23px 23px;
  text-align: left;
  background: no-repeat url('https://github.com/katrinalalata/css-exercise-four/blob/master/images/baku.jpg?raw=true');
  background-color: #EAEAEA;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
  float: left;
}

.london {
  background-image: url('https://github.com/katrinalalata/css-exercise-four/blob/master/images/london.png?raw=true')
}

.baku {
  background-image: url('https://github.com/katrinalalata/css-exercise-four/blob/master/images/baku.jpg?raw=true')
}

.rome {
  background-image: url('https://github.com/katrinalalata/css-exercise-four/blob/master/images/rome.jpg?raw=true')
}

.madrid {
  background-image: url('https://github.com/katrinalalata/css-exercise-four/blob/master/images/madrid.jpg?raw=true')
}

  @media screen and (min-width: 575px){
     .preview {
      margin: 1%;
      width: 48%;
    }
  }

  @media screen and (min-width: 60em) {
    body {
      background-color: #EAEAEA;
    }
   }

   @media screen and (min-width: 60em){
      .preview {
       margin: 1%;
       width: 23%;
     }
   }
